/*-----------------------
	RankingEach
-------------------------*/

div#containerRank{
    position: relative;
    width: 1500px;
    margin: 0 auto;
    min-height: 97%;
    height: auto !important;
    height: 97%;
}

div.nameBox {
    
    width: 80%;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    background-color: #FFFFFF;
    border: solid 2px black;
    box-sizing: border-box;
    /* margin: 10px 20px 15px 20px; */
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

div#boxHead {
    background-color: #CED8F6;
}

div.rank, div.team, div.name, div.time {
    float: left;
    text-align: center;
    list-style-type:none;
    /*margin-right:6px;
    padding-left:10px;*/
    border-left:1px solid #999;
}

div.rank {
    width: 15%;
    border-left:0;
    padding-left:0;
}

div.team {
    width: 25%;
}

div.name {
    width: 35%;
}


div.time {
    width: 20%;

}

div#r_title_box {
	width: 900px;
	font-size: 30px;
        margin: 0 auto;
	text-align: center;
}

#r_title_box {
	padding: .5em .5em;
	background-color: #f6f6f6;
	border-radius: 6px;
	margin: 10px 5px 10px 5px;
	text-align: center;
}